<div *ngIf="feedShow" class="background-cover"
  [style]="feedShow.backdropImage===null ? undefined :{'--featured-image': 'url('+ feedShow.backdropImage +')' }"
  fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex fxLayoutGap="20px">
  <div fxFlex fxFlex="30%" fxFlex.xs="100%">
    <app-card-without-title [content]="feedShow"> </app-card-without-title>
  </div>
  <div fxFlex fxFlex="70%" fxFlex.xs="100%" fxLayoutGap="30px">
    <feed-metadata (reloadMetadataFeedFilm)="updateFeedFilm($event)" [feedFilm]="feedShow"></feed-metadata>
    <torrent-show-data [torrents]="feedShow.torrents"></torrent-show-data>
  </div>
</div>
<!-- <mat-icon color="accent">4k</mat-icon>
<mat-icon color="accent">hdr_on</mat-icon>
<mat-icon color="accent">movie</mat-icon>
<mat-icon color="accent">tv</mat-icon>
-->
