<div fx class="feed-metadata">
  <br>
  <h2><strong>{{feedFilm.title!}}</strong></h2>
  <h3>{{feedFilm.releaseDate | date: 'yyyy'}}</h3>
  <mat-chip-list aria-label="Fish selection">
    <mat-chip *ngIf="feedFilm.titleOriginal" color="accent" selected>{{feedFilm.titleOriginal}}</mat-chip>
    <mat-chip *ngIf="feedFilm.releaseDate" color="accent" selected>{{feedFilm.releaseDate | date: 'dd-MM-yyyy'}}
    </mat-chip>
    <mat-chip *ngIf="feedFilm.type" color="accent" selected>{{feedFilm.type | titlecase}}</mat-chip>
    <div *ngIf="feedFilm.voteAverage" fxLayoutAlign="space-around center">
      <img class="tmdb-svg" height="26px" src="assets/svg/tmdb.svg">
      <span>{{feedFilm.voteAverage*10}}%</span>
    </div>
  </mat-chip-list>
  <br>
  <span *ngIf="feedFilm.overview">{{feedFilm.overview}}</span>
  <br>
  <br>

  <div fxLayout="row" fxLayoutAlign.xs="space-around center" fxLayoutAlign="none start">
    <button class="text-with-background" mat-button (click)="reloadFeedFilm(feedFilm)" color="accent">
      <mat-icon>autorenew</mat-icon>
    </button>
    <button class="text-with-background" mat-button (click)="reloadMetadata(feedFilm)" color="accent">
      <mat-icon>refresh</mat-icon>
    </button>
    <button class="text-with-background" mat-button (click)="openMetadataDialogInfo(feedFilm)" color="accent">
      <mat-icon>edit</mat-icon>
    </button>
    <button class="text-with-background" mat-button (click)="openDialogDelete(feedFilm)" color="warn">
      <mat-icon>delete_outline</mat-icon>
    </button>
  </div>
</div>
