<!-- <div class="torrent-data">
  <mat-tab-group color="accent" [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
    <mat-tab>
      <ng-template mat-tab-label>
        Season 1
      </ng-template>
      <br>
      <mat-accordion class="example-headers-align">
        <torrent-show-chapter-data *ngFor="let torrent of torrents" [torrent]="torrent"></torrent-show-chapter-data>
      </mat-accordion>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        Season 2
      </ng-template>
      <br>
      <h4><strong>Torrent Url: </strong>https://nhafhaf</h4>
      <h4><strong>Torrent Image: </strong>https://&afwfw</h4>
      <h4><strong>Torrent Quality: </strong>4K</h4>
      <h4><strong>Torrent Size: </strong>20Gigas</h4>
      <div fxLayout="row" fxLayoutAlign="none start" fxLayoutGap="10px">
        <button color="accent" class="text-with-background" mat-button>
          <mat-icon>cloud_download</mat-icon>
        </button>
        <button color="accent" class="text-with-background" mat-button>
          <mat-icon>edit</mat-icon>
        </button>
        <button color="warn" class="text-with-background" mat-button>
          <mat-icon>delete_outline</mat-icon>
        </button>
      </div>
    </mat-tab>
  </mat-tab-group>
</div> -->
