<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleMenu()" fxHide fxShow.lt-sm>
    <mat-icon>menu</mat-icon>
  </button>
  <img alt="Lavanda" class="img-responsive logo_navbar" src="assets/images/logo-name.png" width="80px">
  <span routerLink="/dashboard" fxShow="true" fxHide.lt-sm="true">Dashboard</span>

  <!-- <span routerLink="/plex" fxShow="true" fxHide.lt-sm="true">Plex</span> -->
  <!-- <span [matMenuTriggerFor]="menu" fxShow="true" fxHide.lt-sm="true">Automation</span>
  <mat-menu #menu="matMenu">
    <button routerLink="/automation/shows" mat-menu-item>
      <mat-icon>tv</mat-icon>
      <span>Shows</span>
    </button>
    <button routerLink="/automation/films" mat-menu-item>
      <mat-icon>local_movies</mat-icon>
      <span>Films</span>
    </button>
  </mat-menu> -->
  <span routerLink="/filebot" fxShow="true" fxHide.lt-sm="true">Filebot Reports</span>
  <span routerLink="/filebot-executor" fxShow="true" fxHide.lt-sm="true">Filebot Executor</span>

  <!-- <span routerLink="/elastictranscoder" fxShow="true" fxHide.lt-sm="true">Elastictranscoder</span> -->
  <span class="example-spacer"></span>
  <!-- <mat-form-field fxShow="true" fxHide.lt-sm="true" style="width: 20rem" floatLabel="never">
    <input matInput [matAutocomplete]="auto" #searchInput="matInput" (input)="onInput(searchInput.value)" type="text"
      placeholder="Search on Automation" autocomplete="off" />
    <mat-icon [color]="searchInput.focused ? 'accent' : ''" matSuffix>search</mat-icon>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option (onSelectionChange)="routeToFilms(state.id)" *ngFor="let state of searchs" [value]="state.title">
        <img class="example-option-img" aria-hidden [src]="state.image" height="35">
        <span>{{state.title}}</span>|
        <small>{{state.releaseDate | date:'yyyy' }}</small>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field> -->
  <span *ngIf="isAuthenticated" [matMenuTriggerFor]="menulogout" fxShow="true" fxHide.lt-md="true"
    class="span-user">{{userName}}</span>
  <span *ngIf="!isAuthenticated" fxShow="true" fxHide.lt-md="true" class="span-user">{{userName}}</span>
  <!-- <span *ngIf="!isAuthenticated">
    <button (click)="login()" mat-icon-button class="example-icon" aria-label="user">
      <mat-icon>login</mat-icon>
    </button>
  </span> -->

  <span *ngIf="isAuthenticated">
    <button [matMenuTriggerFor]="menulogout" mat-icon-button class="example-icon" aria-label="user">
      <mat-icon>account_box</mat-icon>
    </button>
  </span>
  <mat-menu #menulogout="matMenu">
    <button (click)="logout()" mat-menu-item>
      <mat-icon>power_settings_new</mat-icon>
      <span>Log Out</span>
    </button>
  </mat-menu>
</mat-toolbar>
