<mat-accordion>
  <mat-expansion-panel multi=true *ngFor="let item of flatMedia" (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title class="mat-panel-title-override">
        {{item.name}}
      </mat-panel-title>
      <mat-panel-description>
        <mat-chip-list aria-label="Active Chip">
          <!-- <mat-chip color="accent" selected>{{item.active}}</mat-chip> -->
          <mat-chip color="accent" selected>Inactive</mat-chip>
        </mat-chip-list>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <mat-divider class="mat-divider-with-space" ></mat-divider>
      <mat-chip-list  aria-label="Fish selection">
        <mat-chip> {{item.duration}} </mat-chip>
        <mat-chip>{{item.type}}</mat-chip>
        <mat-chip color="primary" selected>{{item.container}}</mat-chip>
        <mat-chip color="accent" selected>{{item.filesize}}</mat-chip>
      </mat-chip-list>
      <mat-divider class="mat-divider-with-space" ></mat-divider>

      <app-transcode-media [flatMediaId]=item.id></app-transcode-media>
      <mat-action-row>
        <button mat-button color="accent" (click)="infoMedia()">
          <mat-icon>info</mat-icon>
        </button>
        <button mat-button color="accent" (click)="downloadVideo(item.id)">
          <mat-icon>cloud_download</mat-icon>
        </button>
        <button mat-button color="accent" (click)="watchVideo(item)">
          <mat-icon>play_circle_outline</mat-icon>
        </button>
        <button mat-button color="accent" (click)="addTranscodes(item)">
          <mat-icon>add_circle</mat-icon>
        </button>
        <button mat-button color="accent" (click)="deleteMedia(item)">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </mat-action-row>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>
<div class="wrap">
  <button class="wrap-element" mat-mini-fab color="accent" (click)="uploadContent()" aria-label="add Content">
    <mat-icon>library_add</mat-icon>
  </button>
  <button class="wrap-element" mat-mini-fab color="accent" aria-label="Load Media">
    <mat-icon>autorenew</mat-icon>
  </button>
</div>
