<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Episode
      {{torrent.chapters}}
    </mat-panel-title>
    <mat-panel-description>
      <p>{{torrent.torrentQuality}}</p>
      <mat-icon color="accent">check_circle_outline</mat-icon>
      <mat-icon color="accent">hdr_on</mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <h4><strong>Torrent Url: </strong>{{torrent.torrentUrl}}</h4>
  <h4><strong>Torrent Image: </strong>{{torrent.torrentImage}}</h4>
  <h4><strong>Torrent Quality: </strong>{{torrent.torrentQuality}}</h4>
  <h4><strong>Torrent Size: </strong>{{torrent.torrentSize}}</h4>
  <mat-action-row>
    <button mat-button color="accent">
      <mat-icon>cloud_download</mat-icon>
    </button>
    <button mat-button color="warn">
      <mat-icon>delete_outline</mat-icon>
    </button>
    <button mat-button color="accent">Next</button>
  </mat-action-row>
</mat-expansion-panel>
