<div class="padding-top" *ngIf="fullPage" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
  <!-- <div class="center"> -->
  <button mat-icon-button aria-label="Add Execution" (click)="add()" matTooltip="Add Execution">
    <mat-icon>library_add</mat-icon>
  </button>
  <button mat-icon-button aria-label="Reload" (click)="reloadData()" matTooltip="Reload">
    <mat-icon>autorenew</mat-icon>
  </button>
  <button mat-icon-button aria-label="Throw the manual execution of filebot" (click)="manualExecution()"
    matTooltip="Throw the manual execution of filebot">
    <mat-icon>play_circle_outline</mat-icon>
  </button>

  <button mat-icon-button aria-label="Throw the manual execution of filebot for MOVIE" (click)="manualExecutionMovie()"
    matTooltip="Throw the manual execution of filebot for MOVIE">
    <mat-icon>cancel_presentation</mat-icon>
  </button>
  <button mat-icon-button aria-label="Throw the manual execution of filebot for SHOW" (click)="manualExecutionShow()"
    matTooltip="Throw the manual execution of filebot for SHOW">
    <mat-icon>cancel_presentation</mat-icon>
  </button>
  <form class="form-group-search" [formGroup]="form">
    <mat-form-field appearance="standard">
      <mat-label>Search</mat-label>
      <input formControlName="search" matInput>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let stat of status" [value]="stat">{{stat}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <!-- </div> -->
</div>
<div *ngIf="data.filebots.length > 0;else noContent">
  <div class="example-container mat-elevation-z8">
    <div class="example-table-container">
      <table mat-table [dataSource]="data.filebots" class="mat-elevation-z8">

        <ng-container matColumnDef="path">
          <th mat-header-cell *matHeaderCellDef> Path </th>
          <!-- <td mat-cell *matCellDef="let element" [matTooltip]="element.path"> {{element.path | slice:0:32}} </td> -->
          <td mat-cell *matCellDef="let element" [matTooltip]="element.path"> {{element.path}} </td>
        </ng-container>

        <ng-container matColumnDef="newPath">
          <th mat-header-cell *matHeaderCellDef> New Path </th>
          <td mat-cell *matCellDef="let element"> {{element.newPath }} </td>
        </ng-container>

        <ng-container matColumnDef="fileName">
          <th mat-header-cell *matHeaderCellDef> Files </th>
          <td mat-cell *matCellDef="let element">
            <div *ngFor="let item of element.files">
              - {{item}}
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="newFileName">
          <th mat-header-cell *matHeaderCellDef> New Files </th>
          <td mat-cell *matCellDef="let element">
            <div *ngFor="let item of element.newFiles">
              - {{item}}
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>


        <ng-container matColumnDef="download">
          <th mat-header-cell *matHeaderCellDef> Log </th>
          <td mat-cell *matCellDef="let element">
            <button *ngIf="element.log" mat-icon-button aria-label="Download Log" (click)="downloadLog(element)"
              matTooltip="Download Log">
              <mat-icon>cloud_download</mat-icon>
            </button>
          </td>
        </ng-container>


        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef> Edit Execution </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button aria-label="Edit Execution" (click)="edit(element)" matTooltip="Edit Execution">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> Delete Execution </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button aria-label="Delete File" (click)="delete(element)"
              matTooltip="Delete of this execution">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="reExecute">
          <th mat-header-cell *matHeaderCellDef> Re Execution </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button aria-label="Re-execute File" (click)="reExecute(element)"
              matTooltip="Re-execution of this path">
              <mat-icon>replay</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
  <mat-paginator *ngIf="paginator && data.filebots.length > 0" (page)="pageEvents($event)" [length]="resultsLength"
    [pageSize]="pageSize">
  </mat-paginator>
</div>
<ng-template #noContent>
  <div class="center">
    <p>No Content</p>
  </div>
</ng-template>
