<div class="overlay" *ngIf="showSpinner">
  <div class="center">
    <mat-progress-spinner diameter=100 mode="indeterminate" color="accent">
    </mat-progress-spinner>
  </div>
</div>
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list class="list-horizontal">
      <a mat-list-item routerLink="/dashboard">
        <mat-icon class="margin-right">house</mat-icon>
        <span class="title" md-line>Dashboard</span>
      </a>
      <!-- <a mat-list-item routerLink="/plex">
        <mat-icon class="margin-right">collections</mat-icon>
        <span class="title" md-line>Plex</span>
      </a> -->
      <!-- <a mat-list-item [matMenuTriggerFor]="menu">
        <mat-icon class="margin-right">autorenew</mat-icon>
        <span class="title" md-line>Automation</span>
      </a> -->
      <a mat-list-item routerLink="/filebot">
        <mat-icon class="margin-right">assignment</mat-icon>
        <span class="title" md-line>Filebot Reports</span>
      </a>
      <a mat-list-item routerLink="/filebot-executor">
        <mat-icon class="margin-right">attachment</mat-icon>
        <span class="title" md-line>Filebot Executor</span>
      </a>
      <a mat-list-item routerLink="/filebot-executor-v2">
        <mat-icon class="margin-right">attachment</mat-icon>
        <span class="title" md-line>New Filebot Executor</span>
      </a>
      <a mat-list-item routerLink="/tmdb">
        <mat-icon class="margin-right">movie</mat-icon>
        <span class="title" md-line>TMDB</span>
      </a>
      <!-- <a mat-list-item routerLink="/elastictranscoder">
        <mat-icon class="margin-right">device_hub</mat-icon>
        <span class="title" md-line>Elastictranscoder</span>
      </a> -->
      <mat-menu #menu="matMenu" xPosition="before" yPosition="above">
        <button routerLink="/automation/shows" mat-menu-item>
          <mat-icon>tv</mat-icon>
          <span>Shows</span>
        </button>
        <button routerLink="/automation/films" mat-menu-item>
          <mat-icon>local_movies</mat-icon>
          <span>Films</span>
        </button>
      </mat-menu>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content-sidenav">
    <app-header [sidenav]="sidenav"></app-header>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
