.mat-card-full-height {
  min-height: 70%;
  max-height: 70%;
  padding-bottom: 0%;
  margin: 10%;
  border-radius:25px;
}

.mat-card-image-override {
  height: 100% !important;
  object-fit: cover;
  -moz-box-shadow: 10px 10px 5px black;
  -webkit-box-shadow: 10px 10px 5px black;
  border:2px solid #fff;
  box-shadow: 10px 10px 5px black;
  -moz-border-radius:25px;
  -webkit-border-radius:25px;
  border-radius:25px;
}
