<!-- <div class="example-container mat-elevation-z8">
  <filebot-executor-table-app [pageSize]=20 [paginator]="true" [fullPage]="true"></filebot-executor-table-app>
</div> -->

<!-- <mat-card class="card">
  <mat-card-title>Filebot Executor</mat-card-title>

  <mat-card-subtitle>
    Torrent downloaded, processed by filebot<br>
  </mat-card-subtitle>

  <mat-card-content>
    <div fxLayout="row" fxLayoutAlign="space-around center" fxFlexAlign="center">
      <div fxFlex="12.8" fxFlex.sm="33.3" fxFlex.xs="50" *ngFor="let filebot of data.filebots"
        [style.background]="getColor(filebot)">
        <mat-grid-list cols="1" rowHeight="1:1">

          <mat-grid-tile>
            {{ filebot.path }}
          </mat-grid-tile>

        </mat-grid-list>
      </div>
    </div>
  </mat-card-content>
</mat-card> -->

<div class="padding-top" *ngIf="fullPage" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
  <!-- <div class="center"> -->
  <button mat-icon-button aria-label="Add Execution" (click)="add()" matTooltip="Add Execution">
    <mat-icon>library_add</mat-icon>
  </button>
  <button mat-icon-button aria-label="Reload" (click)="reloadData()" matTooltip="Reload">
    <mat-icon>autorenew</mat-icon>
  </button>
  <button mat-icon-button aria-label="Throw the manual execution of filebot" (click)="manualExecution()"
    matTooltip="Throw the manual execution of filebot">
    <mat-icon>play_circle_outline</mat-icon>
  </button>
  <form class="form-group-search" [formGroup]="form">
    <mat-form-field appearance="standard">
      <mat-label>Search</mat-label>
      <input formControlName="search" matInput>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let stat of status" [value]="stat">{{stat}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <!-- </div> -->
</div>
<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" *ngFor="let filebot of data.filebots">
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>
            {{ filebot.path }}
          </mat-card-title>
        </mat-card-header>
        <!-- <img mat-card-image src="./../assets/images/mountains.jpg"> -->
        <mat-card-content [style.background]="getColor(filebot)">
          <p>
            The Himalayas is a mountain range in Asia.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
