.content {
  // padding: 30px;
}

// .content > mat-card {
//   margin-bottom: 16px;
// }
.mat-paginator-override{
  position: absolute;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
}
