.background-cover {
  // position: relative;

  width: 100%;
  height: 100%;
}
.background-cover::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-image: var(--featured-image);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
}

